body{
    margin: 0;
}
section{
    display: flex;
    height: 90%;
}
aside{
    width: 5%;
    margin: 0;
    border-right: 3px solid;
}
main{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0;
}
main .top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    border-bottom: 3px solid;
}
main .bottom{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 70%;
}
div.profile_card{
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: 20px;
}
div.profile_card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
h1{
    margin: 10px 0;
}
.logo img{
    height: 200px;
}