section{
    display: flex;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
main{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px 0;
    justify-content: space-between;
    background-color: #D2DFFF;
    border-radius: 50px;
    align-items: center;
    height: 90%;
}
main div.profile_bar{
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between;
    height: 15%;
}
main div.profile_bar button{
    background: none;
    border: 0;
    font-size: 18px;
}
h1{
    font-size: 22px;
    color: var(--violet);
}
.name{
    display: flex;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
}
.message{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    width: 70%;
}
.name img{
    height: 60px;
    border-radius: 50%;
    margin: 0 15px;
}
.chat_bar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 90%;
    height: 15%;
}
.chat_bar div{
    margin: 5px;
}
input[type="text"]{
    border-radius: 15px;
    font-size: 14px;
    border: 0;
    height: 60px;
    width: 100%;
    text-align: center;
}
.chat_box{
    width: 90%;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 70%;
    margin: 5px;
}
.chat_box div.chat{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    justify-content: end;
    align-items: center;
    padding: 5px 10px 10px 5px;
    margin: 5px;
}

.chat_box div span{
    color: grey;
    font-size: 16;
}
.chat_box div.chat_right {
    text-align: start;
    background-color: #9BA8C6;
    align-items: flex-end;
    color: #ffffff;
    display: flex;
    border-radius: 15px 15px 0 15px;
}
.chat_box div.chat_left{
    background-color: #A4ABBD;
    align-items: flex-start;
    display: flex;
    border-radius: 15px 15px 15px 0px;
}
p{
    margin: 0;
    font-size: 20px;
}
.chat div.chat_left, .chat_right{
    box-shadow: 6px 5px 27px 0px rgba(62,66,66,0.31);
    padding: 15px;
    margin:10px 15px;
    width: 85%;
}
.btn_snd{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
}
.btn_snd button{
    height: 60px;
    width: 100%;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    background-color: #00C294;
    color: #f3f3f3;  
}
div.message{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.right{
    align-items: flex-end;
    text-align: right;
}
.left{
    align-items: flex-start;
    text-align: left;
}
.input{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    justify-content: center;
}
