#profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    cursor: pointer;
    margin: 10px 0;
    color: #6a5be2;
}
div.search_result img{
    height: 60px;
    border-radius: 50%;
}
div.search_result{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    justify-content: space-between;
    background-color: var(--white1);
    border-radius: 20px;
    width: 80%;
    box-shadow: 4px 3px 7px 0px rgba(62,66,66,0.31);
}
input{
    margin:10px 15px ;
    height: 15%;
    width: 250px;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border: 0;
}
div.btn_holder button{
    width: 100px;
    margin: 5px;
    height: 40px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 18px;
    border: 0;
} 
.red{
    background-color: #FF645C;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.green:focus{
    background-color:rgba(0, 194, 148,0.5);
    border: #00C294 solid 3px;
}
.red:focus{
    background-color:rgba(255, 100, 92,0.5);
    border: #FF645C solid 3px;
}
.green{
    background-color:#00C294 ;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
div.btn_holder{
    display: flex;
}
.btn_req{
    background-color: #6a5be2;
    font-size: 18;
}
.btn_req:focus{
    background-color: rgba(106, 91, 226, 0.5);
    border: #6a5be2 solid 3px;
    color: #6a5be2;

}
.search_bar{
    position: -webkit-sticky;
}
#search{
    position: -webkit-sticky;
    position: sticky;
    top:0;
}
#search_result{
    overflow-y: scroll;
    height: 65vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
input:focus{
    outline: none;
}
div.holder{
    height: 45vh;
    overflow-y: scroll;
}
div.holder::-webkit-scrollbar{
    display: none;
}
.btn_req:hover{
    scale: 1.1;
}
.green:hover, .red:hover{
    scale: 1.1;
}
.name_holder{
    display: flex;
    align-items: center;
    justify-content:space-around ;
    width: 100%;
}