
.btn_holder{
    margin: 0;
}
#form div{
    width: 200px;
}
.logo img{
    height: 100px;
}
.formhead{
    font-size: 24px;
}
.details{
    display: flex;
    justify-content: center;
    margin: 1%;
}
input{
    display: flex;
    word-wrap: break-word;
    border-radius: 0;
    width: 50%;
    margin: 0;
    overflow: visible;
    padding: 10px 0;
    background: none;
    width: 100px;
}
section #form{
    width: 90%;
}
label{
    text-decoration: solid;
}
#edit{
    font-size: 20px;
    height: 50px;
}
body section{
    align-content: center;
    align-items: center;
}