section{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#form div{
    margin: 10px;
}
h1{
    font-size: 32px;  
    color: #6a5be2;
    margin: 10px;
}
#edit{
    background: #8A76FF;
    height: 60px;
    color: var(--white1);
    border-radius: 20px;
    width: 100px;
    border: 0;
    font-size: 22px;
}
section img{
    width: 125px;
    border-radius: 50%;
}
input{
    background: none;
    animation: none;
    margin: 0;
    width: 50%;
    text-align: left;
    border: 0;
    padding: 0;
    display: flex;
    font-size: 18px;
}
.details{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}
label{
    font-size: 22px;
    width: 50%;
    text-align: center;
}