body{
    margin: 0;
}
section{
    display: flex;
    height: fit-content;
}
aside{
    width: 10%;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
}
.top, .bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
}
main div .container{
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
    border-radius: 30px;
    background-color: #D2DFFF;
    margin-top:20px;
    width: 90%;
    margin: 0;
}
main .bottom{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}
div.holder{
    display:flex ;
    justify-content:center;
    width: 80%;
    flex-wrap: wrap;
}
div.profile_card{
    height: 250px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 30px;
    padding: 10px;
    background-color: #D2DFFF;
}
div.profile_card:hover{
    scale: 1.1 ;
}
div.profile_card img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 10px;
}
h1{
    font-size: 30px;
    margin: 5px 0;
    color: #6a5be2;
    cursor: pointer;
}
.logo img{
    height: 175px;
    border-radius: 50%;
    cursor: pointer;
}
button.btn_con{
    font-size:26;
}
button.btn_pro{
    font-size:24px;
    margin: 5px;
}
button.btn_pro:hover, button.btn_con:hover{
    color: #6a5be2;
    scale: 1.2;
    transition: 0.4;
}   
button.btn_nav{
    font-size:28px;
    transition: all 0.5s ease 0s;
    text-align: center;
    width: 100px;
}
.container, .profile_card, #profile{
    box-shadow: 6px 5px 27px 0px rgba(62,66,66,0.31);
}
.container{
	-webkit-animation: scale-down-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-down-top {
    0% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  @keyframes scale-down-top {
    0% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  .holder {
	-webkit-animation: slide-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(70px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
}
  