header{
    display: flex;
    flex-direction: column;
    height: 10%;
    margin-bottom: 5%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #d2dfff;
}
nav div.logo a{
    display: flex;
    align-items: center;
}
nav div.logo p{
    font-size: 22;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 10%;
}
nav .logo img{
    height: 60px;
    padding: 0 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
button.btn_nav{
    border: 0;
    background: none;
    font-size: 24px;
    cursor: pointer;
    height: 40px;
}
