header{
    margin: 0;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: 90%;
    margin-top: 5%; 
    flex-wrap: wrap;
    align-content: flex-start;
}
#form .logo{
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: center;
}
.logo img{
    height: 120px;
    border-radius: 50%;
}
a{
    font-size: 16px;
}
label{
    font-size: 22px;
    width: 50%;
    text-align: left;
}
.file{
    font-size:1 0;
}
#form .btn_holder {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_holder button {
    font-size: 22px;
}
#edit{
    height: 50px;
    border: 0;
}
input{
    background: none;
    animation: none;
    margin: 0;
    width: 50%;
    text-align: left;
}
#form{
    width: 80%;
    padding: 0 0 50px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.btn{
    background: none;
    border: 0;
}