section{
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    font-size: 14px;
}
section form #form{
    width: fit-content;
    margin: 0;

}
#form .logo{
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: center;
}
.logo img{
    height: 150px;
}
input{
    width: 300px;
    background: none;
    border: 0;
    color: black;
    animation: none;
}
a{
    font-size: 16px;
}
#form div{
    display: flex;
    align-items: center;
    width: 450px;
    justify-content: space-between;
}
#form{
    width: 500px;
    padding: 60px;
}
input{
    width: 300px;
}
profile{
    margin-top: 100px;
}
label{
    font-size: 22px;
}

.file{
    font-size:1 0;
}
#form .btn_holder {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
}
.btn_holder a {
    font-size: 26px;
}
#edit a {
    font-size: 26px;
}
