
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
html,body{
    background-color: var(--blue3);
    height: 100%;
    width: 100%;
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
  }
:root{
  --blue: #7289da;
  --white: #ffffff;
  --white1:#F3F3FF;
  --Blue2: #99aab5;
  --blue3:#D2DFFF;
  --black: #23272a;
  --black1: #2c2f33;
  --gray: #4c4c4c;
  --gray1: #666666;
  --voilet: #6a5be2;
}
input:focus{
  outline: none;
}