
.form{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;

}
#form{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    text-align: center;
    align-items: center;
    border-radius: 40px;
}
  
#form div.form_data{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}
a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: #004799;
    font-size: 24px;
}
img{
  height: 120px;
  border-radius: 50%;
}
.btn_1{
    height: 60px;
    width: 220px;
    font-size: 24px;
    border: 0;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    box-shadow: 6px 5px 27px 0px rgba(62,66,66,0.31);
}
.btn_2{
  width: 120px;
  height: 50px;
  border: 0;
  border-radius: 10px;
  margin: 20px 10px;
  cursor: pointer;
  font-size: 20px;
}
.btn_2 a{
  color: #f3f3f3;
  
}
.btn1{
    background-color: #6a5be2;
    color: #f3f3f3;   
}

.btn2{
    background-color: var(--gray1);
    color: var(--white);
}
input{
    margin:5px 15px ;
    height: 2em;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    border: 0;
}
.link{
  background: none;
  text-decoration: underline;
  color: #6a5be2;
} 
input:focus{
  outline: none;
  box-shadow: 0 0 5px var(--violet);
  border: 1px solid var(--violet) ;
}
input[type=checkbox]{
  width: 25px;
}
p{
  width: 70%;
  margin: auto;
  font-size: 14px;
}
div.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.main img{
    height: 120px;
}
div.main p{
    text-align: center;
    font-size: 26px;
    margin: 10px 0;
}
label{
    font-size: 18px;
}
h1{
    font-size: 32px;  
    color: #6a5be2;
    margin: 10px;
}
button{
    width: 100px;
    height: 2rem;
    margin: 0 10px;
    border-radius: 10px;
    font-size: 16px;
}
#edit{
    background: #8A76FF;
    height: 60px;
    color: var(--white1);
  }
.btn_holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

