
.form{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
#form{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    width: 40vw;
    text-align: center;
    align-items: center;
    border-radius: 40px;
    background: #D2DFFF;
    height: fit-content;
    box-shadow: 6px 5px 27px 0px rgba(62,66,66,0.31);
}
@keyframes slide-top{
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: #004799;
    font-size: 24px;
}
.logo{
    border-radius: 50%;
    margin: 20px;
}
.btn_1{
    height: 90px;
    width: 270px;
    font-size: 32px;
    border: 0;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
    box-shadow: 6px 5px 27px 0px rgba(62,66,66,0.31);
}
.btn_2{
  width: 180px;
  height: 70px;
  border: 0;
  border-radius: 30px;
  margin: 20px;
  cursor: pointer;
  font-size: 28px;
}
.btn_2 a{
  color: #f3f3f3;
  
}
.btn1{
    background-color: #6a5be2;
    color: #f3f3f3;   
}

.btn2{
    background-color: var(--gray1);
    color: var(--white);
}
input{
    margin:5px 15px ;
    height: 2em;
    min-width: 18em;
    max-width: 20rem;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    border: 0;
    animation: shadow-inset-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} 
input:focus{
  outline: none;
}

div.main img{
    height: 300px;
}
div.main p{
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
label{
    font-size: 1.5rem;
}
h1{
    font-size: 2em;  
    color: #6a5be2;
    margin: 10px;
}
button{
    width: 100px;
    height: 2rem;
    margin: 0 10px;
    border-radius: 20px;
    font-size: 16px;
}
#edit{
    background: #8A76FF;
    height: 60px;
    font-size: 26px;
    color: var(--white1);
  }
@keyframes shadow-inset-bottom {
    0% {
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: inset 0 -6px 14px -6px rgba(0, 0, 0, 0.5);
    }
  }
  
