nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin: 20px 80px 20px 80px;
    
}
nav .logo img{
    height: 80px;
    padding: 0 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 15%;
    justify-content: center;
}
a{
    cursor: pointer;
    text-decoration: none;
}
button{
    width: 75px;
    height: 30px;
    border: 0;
    background: none;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    color: brown;
}
body{
    margin: 0;
}
div.home_BG{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 90%;
}
div.home_BG img{
    height: 90%;
    border-radius: 100px;
    width: 100%;
    padding: 0 40px;
}